<!DOCTYPE html>
{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1>Login</h1>
    </div>
  </div>
</section>
{% endblock %}


{% block main %}

<div class="oi">
  <form class='login-form' action='{{url_for("site.login")}}' method='post' enctype='multipart/form-data'>
    {{form.csrf_token}}
    <span class="title-login">Login</span>
    {{form.email.label}}
    {{form.email(class="label-email" ,size=30, placeholder="")}}

    {{form.password.label}}
    {{form.password(class="label-email", size=30)}}

    <input class="btnSignUp" type='submit' value='submit' onclick="logged()"/>
  </form>

{% endblock %}