<!DOCTYPE html>
{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1>Cadastre-se</h1>
    </div>
  </div>
</section>
{% endblock %}

{% block main %}

<form class='user-form' action='{{url_for("site.signup")}}' method='post' enctype='multipart/form-data'>
    {{form.csrf_token}}  

    {{form.email.label}}<br>
    {{form.email(size=20)}}<br>

    {{form.password.label}}<br>
    {{form.password(size=20)}}<br>

    {{form.foto.label}}<br>
    {{form.foto}}<br> 

    <input type='submit' value='envie ai!!'/>
</form>

</form>


{% endblock %}
