.header {
  background-color: black;
  width: 100%;
  height: 80px;
}

.header-content {
  width: 1345px;
  height: 100%;
  margin: 0 auto;
  color: white;
  padding-top: 24px;
}

.img-class {
  height:290px; 
  width:100%;
}

.oi {
  height: 490px;
  background: linear-gradient(to bottom,  rgb(239,197,202) 0%,rgb(210,75,90) 50%,rgb(186,39,55) 51%,rgb(241,142,153) 100%);
  
}

.login-form {
  width: 155px;
  margin: 0 auto;
  padding-top: 128px;
}
